p11nethsm
p11nethsm.so
db.sqlite3
p11nethsm.h
/tests/pkcs11-test/config*
/tests/pkcs11-test/dtc-config.yaml
/tests/dns-tools/dtc/config/
/tests/dns-tools/dtcnode/config/
*~
node_modules

# test file 
_*

# Added by cargo

/target
profile
*.profraw
coverage
coverage.txt
fork-tests/fork_test
pkcs11-proxy-raw
pkcs11-proxy-slow
pkcs11-thread-bench
stress-test
certutil-db
