#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,7,2,0
PRODUCTVERSION  1,7,2,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0x0L
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"  // US English, Unicode
        BEGIN
            VALUE "CompanyName",      "Nitrokey GmbH"
            VALUE "FileDescription",  "PKCS#11 driver for the Nitrokey NetHSM"
            VALUE "FileVersion",      "1.7.2.0"
            VALUE "ProductVersion",   "1.7.2.0"
            VALUE "InternalName",     "nethsm-pkcs11"
            VALUE "LegalCopyright",   "Nitrokey GmbH and contributors"
            VALUE "OriginalFilename", "nethsm_pkcs11.dll"
            VALUE "ProductName",      "NetHSM PKCS#11 driver"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200  // US English, Unicode
    END
END
