name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
 
jobs:

  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Build
      if: runner.os == 'Linux' || runner.os == 'macOS'
      run: go build -o out/p11nethsm.so -buildmode=c-shared -ldflags=-w -v

    - name: Build
      if: runner.os == 'Windows'
      run: go build -o out/p11nethsm.dll -buildmode=c-shared -ldflags=-w -v

    - name: Test
      if: runner.os == 'Linux'
      run: GODEBUG=cgocheck=2 PKCS11_LIB=../../out/p11nethsm.so ./test.sh
      
    - name: Zip
      if: github.event_name == 'push'
      uses: TheDoctor0/zip-release@0.6.1
      with:
        filename: p11nethsm-${{ runner.os }}.zip
        directory: out

    - name: Update nightly release
      if: github.event_name == 'push'
      uses: softprops/action-gh-release@v0.1.14
      with:
        tag_name: nightly # optional
        files: | # optional
          out/p11nethsm-*.zip
