permissions:
  contents: write
name: Build Rust project on multiple platforms when a new release is created

on:
  release:
    types: [created]
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest
    env:
      FILE_NAME: nethsm-pkcs11-${{ github.ref_name }}-x86_64-windows.dll
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable-x86_64-pc-windows-msvc

      - uses: Swatinem/rust-cache@v2

      - name: Build project
        run: cargo build --release

      - name: rename file
        run: mv -Verbose target/release/nethsm_pkcs11.dll ${{ env.FILE_NAME }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-unsigned
          path: ${{ env.FILE_NAME }}
  sign-windows:
    runs-on:
      group: "Windows Software Signing"
      labels: ["self-hosted", "Linux", "ARM64"]
    needs: [build-windows]
    if: ${{ github.event_name == 'release' }}
    env:
      FILE_NAME: nethsm-pkcs11-${{ github.ref_name }}-x86_64-windows.dll
      FILE_NAME_UNSIGNED: nethsm-pkcs11-${{ github.ref_name }}-x86_64-windows-unsigned.dll
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: windows-unsigned
      - name: Sign artifact
        run: |
          mv ${{ env.FILE_NAME }} ${{ env.FILE_NAME_UNSIGNED }}
          osslsigncode \
            sign \
            -provider /usr/lib/aarch64-linux-gnu/engines-3/pkcs11.so \
            -pkcs11module /usr/lib/aarch64-linux-gnu/opensc-pkcs11.so \
            -pkcs11cert "${{ secrets.PKCS11_CERT_URI_WINDOWS }}" \
            -key "${{ secrets.PKCS11_KEY_URI_WINDOWS }}" \
            -h sha256 \
            -ts "http://ts.ssl.com" \
            -in ${{ env.FILE_NAME_UNSIGNED }} \
            -out ${{ env.FILE_NAME }}
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-signed
          path: ${{ env.FILE_NAME }}
  publish-windows:
    runs-on: windows-latest
    needs: [sign-windows]
    if: ${{ github.event_name == 'release' }}
    env:
      FILE_NAME: nethsm-pkcs11-${{ github.ref_name }}-x86_64-windows.dll
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: windows-signed
      - name: Publish artifact
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ env.FILE_NAME }}

  build-macos:
    runs-on: macos-latest
    env:
      FILE_NAME: nethsm-pkcs11-${{ github.ref_name }}-x86_64-macos.dylib
      FILE_NAME_ARM: nethsm-pkcs11-${{ github.ref_name }}-aarch64-macos.dylib
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Rust
        run: rustup install stable && rustup target install aarch64-apple-darwin && rustup target install x86_64-apple-darwin

      - uses: Swatinem/rust-cache@v2

      - name: Build project for MacOs aaarch64
        run: cargo build --release --target aarch64-apple-darwin

      - name: Build project
        run: cargo build --release --target x86_64-apple-darwin

      - name: rename file
        run: mv -v target/x86_64-apple-darwin/release/libnethsm_pkcs11.dylib ${{ env.FILE_NAME }}
      - name: rename file arm
        run: mv -v target/aarch64-apple-darwin/release/libnethsm_pkcs11.dylib ${{ env.FILE_NAME_ARM }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: macos
          path: |
            ${{ env.FILE_NAME }}
            ${{ env.FILE_NAME_ARM }}

      - name: Upload to the release
        if: ${{ github.event_name == 'release' }}
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ${{ env.FILE_NAME }}
            ${{ env.FILE_NAME_ARM }}

  build-linux:
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.os }}

    strategy:
      matrix:
        include:
          - os: "alpine:3.18"
            name: musl
          - os: redhat/ubi8
            name: glibc

    env:
      FILE_NAME: nethsm-pkcs11-${{ github.ref_name }}-x86_64-linux-${{ matrix.name }}.so
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: install dependencies
        run: |
          case ${{matrix.os}} in 
            redhat/ubi8*)
              dnf install -y curl gcc
              ;;
            alpine*)
              apk add curl musl-dev gcc 
              echo RUSTFLAGS="-C target-feature=-crt-static" >> $GITHUB_ENV
              echo HOME=/root >> $GITHUB_ENV
              ;;
          esac

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable

      - uses: Swatinem/rust-cache@v2

      - name: Build project
        run: cargo build --release

      - name: rename file
        run: mv --verbose target/release/libnethsm_pkcs11.so ${{ env.FILE_NAME }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-x86_64-${{ matrix.name }}
          path: ${{ env.FILE_NAME }}

      - name: Upload to the release
        if: ${{ github.event_name == 'release' }}
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ env.FILE_NAME }}

  test-windows:
    runs-on: windows-latest
    needs: build-windows
    env:
      FILE_NAME: nethsm-pkcs11-${{ github.ref_name }}-x86_64-windows.dll
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: windows
      - name: Install dependencies
        run: choco install opensc
      - name: Test pkcs11 module
        run: |
          & "C:\Program Files\Git\usr\bin\sed.exe" --in-place s/localhost:8443/nethsmdemo.nitrokey.com/g p11nethsm.conf
          $env:P11NETHSM_CONFIG_FILE = "p11nethsm.conf"
          & "C:\Program Files\OpenSC Project\OpenSC\tools\pkcs11-tool.exe" --module ./${{ env.FILE_NAME }} --list-slots
          & "C:\Program Files\OpenSC Project\OpenSC\tools\pkcs11-tool.exe" --module ./${{ env.FILE_NAME }} --list-slots | Should -Contain "Slot 0 (0x0): NetHSM"

  test-macos:
    runs-on: macos-latest
    needs: build-macos
    env:
      FILE_NAME: nethsm-pkcs11-${{ github.ref_name }}-aarch64-macos.dylib
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: macos
      - name: Install dependencies
        run: |
          brew update
          brew install opensc
      - name: Test pkcs11 module
        run: |
          sed -i "" s/localhost:8443/nethsmdemo.nitrokey.com/g p11nethsm.conf
          export P11NETHSM_CONFIG_FILE=p11nethsm.conf
          pkcs11-tool --module ./${{ env.FILE_NAME }} --list-slots
          pkcs11-tool --module ./${{ env.FILE_NAME }} --list-slots | grep NetHSM

  test-linux:
    runs-on: ubuntu-latest
    needs: build-linux
    container:
      image: ${{ matrix.os }}

    strategy:
      matrix:
        include:
          - os: "alpine:3.18"
            name: musl
          - os: "debian:12"
            name: glibc
          - os: "fedora:39"
            name: glibc
          - os: "fedora:40"
            name: glibc
          - os: "ubuntu:22.04"
            name: glibc
          - os: "ubuntu:24.04"
            name: glibc

    env:
      FILE_NAME: nethsm-pkcs11-${{ github.ref_name }}-x86_64-linux-${{ matrix.name }}.so

    services:
      nethsm:
        image: nitrokey/nethsm:testing

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: linux-x86_64-${{ matrix.name }}
      - name: Install dependencies
        run: |
          case ${{ matrix.os }} in
            ubuntu* | debian* )
              apt-get update
              apt-get install -y opensc
              ;;
            alpine* )
              apk add opensc
              ;;
            fedora* )
              dnf install -y opensc
              ;;
          esac
      - name: Test pkcs11 module
        run: |
          sed --in-place s/localhost/nethsm/g p11nethsm.conf
          export P11NETHSM_CONFIG_FILE=p11nethsm.conf
          pkcs11-tool --module ./${{ env.FILE_NAME }} --list-slots
          pkcs11-tool --module ./${{ env.FILE_NAME }} --list-slots | grep NetHSM

  cross-build-linux:
    runs-on: ubuntu-latest
    name: Build on ${{ matrix.distro }} ${{ matrix.arch }}
    strategy:
      matrix:
        include:
          - arch: aarch64
            distro: ubuntu22.04
            target: aarch64-unknown-linux-gnu
            name: glibc
          - arch: aarch64
            distro: alpine_latest
            target: aarch64-unknown-linux-musl
            name: musl
          # Not supported by ring
          # - arch: riscv64
          #   distro: ubuntu22.04
          #   target: riscv64gc-unknown-linux-gnu
    env:
      FILE_NAME: nethsm-pkcs11-${{ github.ref_name }}-${{ matrix.arch }}-linux-${{ matrix.name }}.so

    steps:
      - uses: actions/checkout@v3
      - uses: uraimo/run-on-arch-action@v3
        name: Build artifact
        id: build
        with:
          githubToken: ${{ github.token }}
          arch: ${{ matrix.arch }}
          distro: ${{ matrix.distro }}
          setup: |
            mkdir -p "${PWD}/artifacts"
          dockerRunArgs: |
            --volume "${PWD}/artifacts:/artifacts"
          env: |
            FILE_NAME: "${{env.FILE_NAME}}"
            TARGET: "${{ matrix.target }}"
            RUSTFLAGS: "-C target-feature=-crt-static"
          shell: /bin/sh
          install: |
            case ${{matrix.distro}} in 
              ubuntu*)
                apt-get update
                apt-get install -y curl gcc
                ;;
              alpine*)
                apk add curl musl-dev gcc 
                ;;
            esac
            curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
            . $HOME/.cargo/env
            rustup target add ${{ matrix.target }}
          run: |
            . $HOME/.cargo/env
            cargo build --release --target ${{ matrix.target }}
            mv --verbose target/${{ matrix.target }}/release/libnethsm_pkcs11.so /artifacts/${{env.FILE_NAME}}
      - name: Upload artifacts
        if: ${{ github.event_name != 'release' }}
        uses: actions/upload-artifact@v4
        with:
          name: linux-${{ matrix.arch }}-${{ matrix.name }}
          path: artifacts/${{ env.FILE_NAME }}
      - uses: softprops/action-gh-release@v1
        if: ${{ github.event_name == 'release' }}
        with:
          files: artifacts/${{ env.FILE_NAME }}

  upload-licenses:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable

      - name: install cargo-license
        run: cargo install cargo-license

      - name: Generate licenses
        run: ./tools/collect_licenses.sh

      - name: rename file
        run: mv --verbose _LICENSE LICENSE

      - name: Upload artifacts
        if: ${{ github.event_name != 'release' }}
        uses: actions/upload-artifact@v4
        with:
          name: licenses
          path: LICENSE

      - name: Upload to the release
        if: ${{ github.event_name == 'release' }}
        uses: softprops/action-gh-release@v1
        with:
          files: LICENSE
