permissions:
  contents: write
name: Build Rust project on multiple platforms when a new release is created

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.os }}

    strategy:
      matrix:
        os: ["ubuntu:22.04", "debian:12", "fedora:38", "alpine:3.18"]
        rust-version: [stable]

    env:
      FILE_NAME: nethsm-pkcs11-${{ matrix.os }}-${{ github.event.release.tag_name }}.so
      HOME: /root
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: install dependencies
        run: |
          case ${{matrix.os}} in 
            ubuntu* | debian* )
              apt-get update
              apt-get install -y curl build-essential pkg-config libssl-dev
              ;;
            alpine*)
              apk add openssl-dev musl-dev gcc pkgconfig
              echo RUSTFLAGS="-C target-feature=-crt-static" >> $GITHUB_ENV
              ;;
            fedora*)
              dnf install -y curl gcc openssl-devel pkg-config
              ;;
          esac

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust-version }}

      - name: Build project
        run: cargo build --release
        


      - name: rename file
        run: mv target/release/libnethsm_pkcs11.so ${{ env.FILE_NAME }}

      - name: Upload to the release
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ env.FILE_NAME }}
