permissions:
  contents: write
name: Build Rust project on multiple platforms when a new release is created

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, debian-latest, fedora-latest, alpine/latest]
        rust-version: [stable, beta, nightly]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust-version }}

      - name: Build project
        run: cargo build --release

      - name: Upload to the release
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ matrix.os }}-${{ matrix.rust-version }}.so
          path: target/release/libnethsm_pkcs11.so
